.descripcion{
  text-align: justify;
}

.servicio4{
  div{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    color: #4e5774;
    text-align: center;
    background-color: white;
    border: 1px solid pink;
    @media (max-width:800px) {
      height: 150px;
    }
    &:nth-child(1){
      text-transform: uppercase;
      background-color: pink;
      h3{
        font-weight: bold;
      }
    }
    h3{
      text-align: center;
      font-size: 20px;
    }
  }
}
body > section:nth-child(7) > div:nth-child(1){
  background-color: #f9ecb7;
  border: none;
  h3{
    
  }
}
body > section:nth-child(7) > div{
  border: 1px solid #fbeaa7;
}
.servicios{
  .container{
    
    border-radius: 20px;
    padding: 15px;
    .row-servicios{
      display: flex;
      justify-content: center;
    }
    .s1{
      background-color: #85BE97;
    }
    .s2{
      background-color: #C3DFAA;
    }
    .s3{
      background-color: #DBCD95;
    }

    .servicio{
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 20px;
      max-width: 300px;
      min-width: 300px;
      min-height: 212px;
      text-align: left;

      text-align: center;
      border-radius: 30px;
      color:#4e5774;

      p{
        padding: 20px;
        margin: 0;
      }
    }
/*   .servicio{
    text-align: jus;
      align-items: center;
      display: flex;
      margin-top: 10px;
      padding-left: 30px;
      img{
        margin-right: 10px;
        width: 40px;
      }
      p{
        margin: 0;
      }
    }
  }
  .container:nth-child(2){
    background-color:#eddfa659;
  } */
}
}

.servicios-3{
  h3{
    text-align: center;
  }
  .alimentos{
    background-color:#85BE97;
    border-radius: 25px;
    text-align: justify;
  }
  .contable{

    background-color:#C3DFAA;
    border-radius: 25px;
  }
}
#languaje a{
  color: white;
}